<h2>
  <span>Quote / No. <%= @quotes.id %></span>
  <br />
  <span>Here's the <u>best unsolicited Quote</u> you will read today!</span>
  <br class="clear" />
  <br />
  <br />
</h2>
<%-#<% @quotes.each do |quote| %>
<h1><%= @quotes.saying %>. - <%= @quotes.author %></h1>
<%-# end %>
